<!DOCTYPE html>
<html> 
<head> 
    <title>student Management System</title> 
</head> 
<style> 
   table { 
        font-family: arial, sans-serif; 
        border-collapse: collapse; 
        width: 100%; 
    } 
    td, 
    th { 
       border: 1px solid #dddddd; 
        text-align: left; 
        padding: 8px; 
    } 
    tr:nth-child(even) { 
        background-color: #dddddd; 
    } 
</style> 
<body> 
    <h2>student Management System</h2> 
    <table> 
        <tr> 
            <th>student Id</th> 
            <th>student Name</th> 
           <th>student Email</th> 
            <th>Age</th> 
        </tr> 
        <% data.forEach(element=> { %> 
            <tr> 
                <td> 
                    <%= element.studentUniqueId %> 
                </td> 
                <td> 
                    <%= element.studentName %> 
                </td> 
                <td> 
                    <%= element.studentEmail %> 
                </td> 
                <td> 
                    <%= element.studentAge %> 
                </td> 
            </tr> 
        <% }) %> 
    </table> 
</body> 
</html>

