<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="update" method="post">
        <input type="text" placeholder="student Unique Id"
         name="studentUniqueId">
        <input type="text" placeholder="student Name" 
            name="studentName">
        <input type="text" placeholder="student Email" 
            name="studentEmail">
        <input type="text" placeholder="student Age" 
            name="studentAge">
        <button type="submit">Update</button>
 </form>
 

</body>
</html>